.card1 {
    text-align: center;
    background-color: #03607f !important;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    width: 100%;
    
}
.card1:hover {
    text-align: center;
    background-color: #023748 !important;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}
#divTotal{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    padding-left:50px;
    padding-right: 50px;
}
#ihaaDiv, #erradoDiv{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    
}